/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
}
*:not(dialog) {
    margin: 0;
}
@media (perfers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
#root, #__next {
    isolation: isolate;
}
/* CSS RESET END */

.container {
    display: flex;
}
.left {
    flex: 40%;
    /* background-image: url("./form-image.jpg");
    background-size: cover; */
}

.right {
    flex: 60%;
    background-color: rgb(249, 250, 251);
}
form {
    background-color: white;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-wrap: wrap;
}
.form-row {
    display: flex;
}
.right-header, form, .submit {
    padding: 10px 50px;
}
p {
    padding: 10px 0px;
}
fieldset {
    border: none;
    padding: 0;
}